<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="w-[75%] mx-auto md:w-[65%] lg-[55%] xl:w-[40%] mt-3 relative">
      <div class="flex flex-col justify-center items-center space-y-5">
        <h1 class="text-center text-2xl">Your acount has been verified.</h1>
        <p class="text-lg text-center">Kindly log in into your account.</p>
      </div>
    </main>
<%- include('../includes/end.ejs') %>
