<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="flex flex-col justify-center items-center gap-y-6">
        <h2 class="text-blue-500 text-4xl text-center">Welcome to book buddy</h2>
        <p class="px-16 text-xs text-justify">A friendly website for people who love books. It's a great place to find new books, share your favorites, and meet other book lovers. Whether you read a lot or just like to read occasionally, Book Buddy is the place for you.</p>
        <img src="/images/sharing_knowledge.svg" alt="Sharing Knowledge Illustration" class="w-[400px] h-[400px]">
      </div>
    </main>
<%- include('../includes/end.ejs') %>
