<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="flex flex-col items-center justify-center gap-y-6">
        <div class="flex justify-center">
          <img src="/images/logo.svg" alt="Library Image" class="w-[100px] h-[100px] object-fill">
        </div>

        <h2 class="text-4xl text-center text-blue-500">Find Your Material Of Choice.</h2>
        <p class="px-16 text-justify">The E-library is a powerful online Library tool designed to make your materials creation process seamless and professional. Whether you’re an aspiring author or an experienced writer, this free tool offers a range of features to enhance your writing journey.</p>
        <div class="flex justify-center">
          <img src="/images/library-img.jpg" alt="Library Image" class="w-[400px] md:w-[1800px] h-[400px] object-fill">
        </div>
      </div>
    </main>
<%- include('../includes/end.ejs') %>
